DATABASE_URL=postgresql://neondb_owner:npg_9idQUgbztK8A@ep-snowy-firefly-adu1i0hv-pooler.c-2.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
PORT=3000
NODE_ENV=production
JWT_SECRET=super-secret-jwt-key-12345
JWT_EXPIRES_IN=90d
